<div class="details-grade">
	<div class="title-box mb-5">
		<p>Detalles del grado</p>
		<hr>
	</div>
	<div class="table-box table-responsive px-5 py-4">
		<table class="table text-center">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				{{#each sections}}
					<tr>
						<td>{{name}}</td>
						<td>
							<a href="/sections/details/{{_id}}"><i class="far fa-eye"></i></a>
						</td>
					</tr>
				{{else}}
					<tr>
						<td>No hay registros</td>
					</tr>
			</tbody>
			{{/each}}
		</table>
	</div>
</div>