<div class="row">
	<div class="col">{{student.name}} {{student.surname}}</div>
	<div class="col">
		{{#each payments}}
				<p><i class="far fa-check-circle"></i> {{monthMatch month}}</p>								
			{{else}}
				<p>No ha pagado nada</p>
		{{/each}}
	</div>
</div>

<script>
	

</script>